<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id){
      <li>
        <app-user [selected]="user.id === selectedUserId" [user]="user" (select)="onSelectUser($event)" />
      </li>
    }
     <!--  Angular legacy code below for the same result above NgFor directive -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>  -->
  </ul>
  @if (selectedUserName) {
    <app-tasks [userId]="selectedUserId" [name]="selectedUserName"/>
  } @else {
    <p id="fallback">Please select a user to see their tasks.</p>
  }

  <!--  using if else directive  for same result above-->
  <!-- <app-tasks *ngIf="selectedUserName; else fallbackTemplate" [name]="selectedUserName"/>
  
  <ng-template #fallbackTemplate>
    <p id="fallback">Please select a user to see their tasks.</p>
  </ng-template> -->
   
</main>
